<table border="1" align ="center">

    <thead>

          <tr>
          <th>ID</th>
          <th>SUBJECT</th>
          <th>TOTAL CLASSES</th>
          <th>TOTAL CLASS ATTENDED</th>
          <th>PERCENTAGE(%)</th>
          <th>STATUS</th>
          </tr>

    </thead>
    <tbody>

      <tr>

              <td align="center" >
                <h5>{{att.id}}</h5>
              </td>
              <td align= "center">
                <h5>{{att.Subject}}</h5>
              </td>
              <td align= "center">
                <h5>{{att.TotalClasses}}</h5>
              </td>
              <td align= "center">
                  <h5>{{att.TotalClassAttended}}</h5>
              </td>
              <td align= "center">
                  <h5>{{att.Percentage}}</h5>
              </td>
              <td align= "center">
                  <h5>{{att.Status}}</h5>
              </td>

              </tr>
    </tbody>
  </table>
  <br>
  <br>
